<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalInnovation.internshipmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternshipManagementSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EmptyDataActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PdfReaderActivity"
            android:exported="false" />
        <activity
            android:name=".CompterScienceEngg"
            android:exported="false" />
        <activity
            android:name=".ElectectricalEnggActivity"
            android:exported="false" />
        <activity
            android:name=".CivilEngineeringActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.BranchActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileAcitivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminUpdateprofile"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminResetpassActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminForgotpassActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".Admin.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateInternship"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminInternshipList"
            android:exported="false" />
        <activity
            android:name=".Admin.AddInternshipActivity"
            android:exported="false" />
        <activity
            android:name=".MechanicalEnggActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".InternshipApplication"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>